{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Менеджер задач</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Управляйте своими задачами эффективно и результативно
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% if user.is_authenticated %}
                <p>Добро пожаловать, {{ user.get_full_name|default:user.username }}!</p>
            {% else %}
                <a href="{% url 'user_create' %}" class="btn btn-primary btn-lg px-4 gap-3">
                    Начать
                </a>
                <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-lg px-4">
                    Войти
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}