{% extends 'base.html' %}
{% load i18n %}

{% block title %}Метки{% endblock %}

{% block content %}
<h1 class="my-4">Метки</h1>

<a href="{% url 'label_create' %}" class="btn btn-primary mb-3">
    Создать метку
</a>

{% if labels %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for label in labels %}
                <tr>
                    <td>{{ label.id }}</td>
                    <td>{{ label.name }}</td>
                    <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
                    <td>
                        <a href="{% url 'label_update' label.pk %}" class="btn btn-sm btn-primary">
                            Изменить
                        </a>
                        <a href="{% url 'label_delete' label.pk %}" class="btn btn-sm btn-danger">
                            Удалить
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info" role="alert">
        Пока нет созданных меток.
    </div>
{% endif %}
{% endblock %}
