{% extends 'base.html' %}
{% load i18n %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<h1 class="my-4">Пользователи</h1>

{% if users %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Полное имя</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                    <td>
                        <a href="{% url 'user_update' user.pk %}" class="btn btn-sm btn-primary">
                            Изменить
                        </a>
                        <a href="{% url 'user_delete' user.pk %}" class="btn btn-sm btn-danger">
                            Удалить
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info" role="alert">
        Пока нет зарегистрированных пользователей.
    </div>
{% endif %}
{% endblock %}